
.container {
    width: 80%;
    margin: 30px auto;
    overflow: hidden;
}

figure {
    float: left;
    text-align: center;
    border: 1px solid black;
    width: 15%;
    margin: 1% 1% 1%;
}

div.stretchy-wrapper {
    width: 100%;
    padding-bottom: 130%; /* 59mm x 91mm - Dominion card size */
    position: relative;
}

figcaption {
    border-bottom: 1px solid black;
    text-overflow: ellipsis;
    overflow: hidden;
}

figure#card_10 {
    clear: left;
    border: 1px solid red;
}

figure#notcard_1 {
    clear: left;
}

.hidden {
    display: none;
}

.selected {
    color: red;
}

@media screen and (max-width: 60em) {
    .notphone {
        display: none;
    }
}

@media only screen and (max-width: 940px) {
    figure {width: 20%;}
}

@media only screen and (max-width: 720px) {
    figure {width: 28%;}
}

@media only screen and (max-width: 530px) {
    figure {width: 45%;}
}

@media only screen and (max-width: 320px) {
    figure {width: 96%;}
}

.card_text {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
    border-top: 1px solid black;
}

.card_cost {
    float: left;
    background: yellow;
    border-radius: 50%;
    box-shadow: inset 0 0 2px red;
    width: 1em;

}

[alt]:before {
    /* needed - do not touch */
    content: attr(alt);
    position: absolute;
    opacity: 0;
    
    /* customizable */
    transition: all 0.15s ease;
    white-space: pre-wrap;
    padding: 10px;
    color: #333;
    border-radius: 10px;
    box-shadow: 2px 2px 1px silver;    
}

[alt]:hover:before {
    /* needed - do not touch */
    opacity: 1;
    
    /* customizable */
    background: lime;
    margin-top: 50px;
    margin-left: 20px;    
    max-width: 200px;
}

/* fixes occasional flickering */
[alt]:before {
    pointer-events: none;
}
