
.container {
    width: 80%;
    margin: 30px auto;
    overflow: hidden;
}

figure {
    float: left;
    text-align: center;
    border: 1px solid black;
    width: 15%;
    margin: 1% 1% 1%;
    background: #afb4ae;
}


div.stretchy-wrapper {
    padding-bottom: 160%; /* 59mm x 91mm - Dominion card size */
    position: relative;
}

figure.horizontal {
    width: 25%;
}

figure.horizontal div.stretchy-wrapper {
    padding-bottom: 58%; /* 59mm x 91mm - Dominion card size */
}

figure.horizontal figcaption {
    width: 50%;
    margin: 0 auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

figure.horizontal .card_image {
    height: 66%;
}

figure.horizontal .card_text {
    height: 34%;
}

.ribbon-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 45%;
    overflow: hidden;
}

.ribbon {
    background: #f4eece;
    color: black;
    text-align: center;
    position: absolute;
    font: 13px Sans-Serif;
    transform: rotate(45deg);
    position: relative;
    left: -15%;
    top: 22%;
    width: 150%;

}

.header {
    background: #51433A;
    position: absolute;
    width: 100%;
    top: 0;
}


figcaption {
    width: 100%;
    border-bottom: 1px solid black;
    text-overflow: ellipsis;
    overflow: hidden;
    background: #f4eece;
}

.card_image {
    width: 100%;
    height: 50%;
    position: absolute;
    top: 0;
    background: #999999;
}

.card_text {
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    border-top: 1px dashed black;
}

.footer {
    border-top: 1px solid black;
    background: #f4eece;
    width: 100%;
    position: absolute;
    bottom: 0;
}

figure.reaction figcaption {
    background: #80b1d2;
}

figure.reaction .footer {
    background: #80b1d2;
}

figure.reaction .card_text {
    box-shadow: inset 0px 0px 45px 10px #80b1d2;
}

figure.treasure figcaption {
    background: #fbd953;
}

figure.treasure .footer {
    background: #fbd953;
}

figure.treasure .card_text {
    box-shadow: inset 0px 0px 45px 10px #fbd953;
}

figure.victory figcaption {
    background: #aade89;
}

figure.victory .footer {
    background: #aade89;
}

figure.victory .card_text {
    box-shadow: inset 0px 0px 45px 10px #aade89;
}

figure.duration figcaption {
    background: #e98923;
}

figure.duration .footer {
    background: #e98923;
}

figure.duration .card_text {
    box-shadow: inset 0px 0px 45px 10px #e98923;
}

figure.reserve figcaption {
    background: #cca65f;
}

figure.reserve .footer {
    background: #cca65f;
}

figure.reserve .card_text {
    box-shadow: inset 0px 0px 45px 10px #cca65f;
}

figure.promos {
    outline: 3px dotted #E12836;
}

figure.dominion {
    outline: 3px solid #7A603D;
}

figure.intrigue {
    outline: 3px solid #9C9897;
}

figure.seaside {
    outline: 3px solid #03A0CD;
}

figure.alchemy {
    outline: 3px solid #9164A2;
}

figure.prosperity {
    outline: 3px solid #ADAB5E;
}

figure.cornucopia {
    outline: 3px solid #E99758;
}

figure.hinterlands {
    outline: 3px double #96B864;
}

figure.darkages {
    outline: 3px solid #B6603F;
}

figure.guilds {
    outline: 3px solid #E47D7F;
}

figure.adventures {
    outline: 3px double #8A8077;
}

figure.empires {
    outline: 3px solid #D2A842;
}

figure#card_10 {
    clear: left;
}

figure.landmark figcaption {
    background: #439D5D;
}

figure.landmark .card_text {
    background: #439D5D;
}

figure.landmark .ribbon {
    background: #439D5D;
}

/* image background is base64-encoded SVG text "Bane" */
figure#card_10 .card_image {
  background: url("data:image/svg+xml;base64, PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZlcnNpb249JzEuMScgaGVpZ2h0PSczNXB4JyB3aWR0aD0nNjBweCc+IDx0ZXh0IHg9JzE1JyB5PScxNScgZmlsbD0ncmVkJyBmb250LXNpemU9JzIwJyB0cmFuc2Zvcm09J3JvdGF0ZSgyMCknPkJhbmU8L3RleHQ+IDwvc3ZnPgo=") #999999 0;
}

.hidden {
    display: none;
}

.selected {
    color: red;
}

span#m_in_promos {
    color: black;
    font-weight: normal;
}

@media screen and (max-width: 60em) {
    .notphone {
        display: none;
    }
}

@media only screen and (max-width: 940px) {
    figure {width: 20%;}
    .ribbon {font: 13px Sans-Serif;}
    figure.horizontal {width: 30%;}
}

@media only screen and (max-width: 720px) {
    figure {width: 28%;}
    .ribbon {font: 12px Sans-Serif;}
    figure.horizontal {width: 43%;}
}

@media only screen and (max-width: 530px) {
    figure {width: 45%;}
    .ribbon {font: 11px Sans-Serif;}
    figure.horizontal {width: 69%;}
}

@media only screen and (max-width: 320px) {
    figure {width: 96%;}
    .ribbon {font: 10px Sans-Serif;}
    figure.horizontal {width: 96%;}
}

span.coin_cost {
    float: left;
    background: #fce11e;
    border-radius: 50%;
    box-shadow: inset 0 0 2px #b64b26;
    width: 1em;
    font-weight: bold;
}

span.potion {
    float: left;
    color: #0f5f92;
    font-weight: bold;
}

span.debt_cost {
    float: left;
    background: #b64b26;
    border-radius: 50%;
    box-shadow: inset 0 0 2px #b64b26;
    width: 1em;
    color: white;
    font-weight: bold;

}

[alt]:before {
    /* needed - do not touch */
    content: attr(alt); /* tooltips using 'title' can't be stylized! */
    position: absolute;
    opacity: 0;
    /* fixes occasional flickering */
    pointer-events: none;
    
    /* customizable */
    transition: all 0.15s ease;
    white-space: pre-wrap;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 1px silver;    
    z-index: 1;
    max-width: 200px; /* don't remove, briefly visible before expands */
}

[alt]:hover:before {
    /* needed - do not touch */
    opacity: 1;
    
    /* customizable */
    background: lime;
    margin-top: 50px;
    margin-left: 20px;    
    max-width: 200px;
    z-index: 1;
}

