
.container {
    width: 80%;
    margin: 30px auto;
    overflow: hidden;
}

figure {
    float: left;
    text-align: center;
    border: 1px solid black;
    width: 15%;
    margin: 1% 1% 1%;
    background: #afb4ae;
}

div.stretchy-wrapper {
    padding-bottom: 134%; /* 59mm x 91mm - Dominion card size */
    position: relative;
}

figcaption {
    width: 100%;
    border-bottom: 1px solid black;
    text-overflow: ellipsis;
    overflow: hidden;
    background: #f4eece;
}

.card_image {
    width: 100%;
    height: 50%;
    position: absolute;
    top: 0;
    background: #999999;
}

.card_text {
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
}

.footer {
    border-top: 1px solid black;
    background: #f4eece;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 0;
}

figure.reaction figcaption {
    background: #80b1d2;
}

figure.reaction .footer {
    background: #80b1d2;
}

figure.reaction .card_text {
    box-shadow: inset 0px 0px 45px 10px #80b1d2;
}

figure.treasure figcaption {
    background: #fbd953;
}

figure.treasure .footer {
    background: #fbd953;
}

figure.treasure .card_text {
    box-shadow: inset 0px 0px 45px 10px #fbd953;
}

figure.victory figcaption {
    background: #aade89;
}

figure.victory .footer {
    background: #aade89;
}

figure.victory .card_text {
    box-shadow: inset 0px 0px 45px 10px #aade89;
}

figure.duration figcaption {
    background: #e98923;
}

figure.duration .footer {
    background: #e98923;
}

figure.duration .card_text {
    box-shadow: inset 0px 0px 45px 10px #e98923;
}

figure.reserve figcaption {
    background: #cca65f;
}

figure.reserve .footer {
    background: #cca65f;
}

figure.reserve .card_text {
    box-shadow: inset 0px 0px 45px 10px #cca65f;
}

figure.dominion {
    outline: 3px solid #7A603D;
}

figure.intrigue {
    outline: 3px solid #9C9897;
}

figure.seaside {
    outline: 3px solid #03A0CD;
}

figure.alchemy {
    outline: 3px solid #9164A2;
}

figure.prosperity {
    outline: 3px solid #ADAB5E;
}

figure.cornucopia {
    outline: 3px solid #E99758;
}

figure.hinterlands {
    outline: 3px solid #96B864;
}

figure.darkages {
    outline: 3px solid #B6603F;
}

figure.guilds {
    outline: 2px solid #E47D7F;
}

figure.adventures {
    outline: 2px solid #8A8077;
}

figure.empires {
    outline: 2px solid #D2A842;
}

figure#card_10 {
    clear: left;
    border: 1px solid red;
}

figure#notcard_0 {
    clear: left;
}

.hidden {
    display: none;
}

.selected {
    color: red;
}

@media screen and (max-width: 60em) {
    .notphone {
        display: none;
    }
}

@media only screen and (max-width: 940px) {
    figure {width: 20%;}
}

@media only screen and (max-width: 720px) {
    figure {width: 28%;}
}

@media only screen and (max-width: 530px) {
    figure {width: 45%;}
}

@media only screen and (max-width: 320px) {
    figure {width: 96%;}
}



.coin_cost {
    float: left;
    background: #fce11e;
    border-radius: 50%;
    box-shadow: inset 0 0 2px #b64b26;
    width: 1em;
    font-weight: bold;
}

.potion {
    float: left;
    color: #0f5f92;
    font-weight: bold;
}

.debt_cost {
    float: left;
    background: #b64b26;
    border-radius: 50%;
    box-shadow: inset 0 0 2px #b64b26;
    width: 1em;
    color: white;
    font-weight: bold;

}

[alt]:before {
    /* needed - do not touch */
    content: attr(alt); /* tooltips using 'title' can't be stylized! */
    position: absolute;
    opacity: 0;
    /* fixes occasional flickering */
    pointer-events: none;
    
    /* customizable */
    transition: all 0.15s ease;
    white-space: pre-wrap;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 1px silver;    
    z-index: 1;
    max-width: 200px; /* don't remove, briefly visible before expands */
}

[alt]:hover:before {
    /* needed - do not touch */
    opacity: 1;
    
    /* customizable */
    background: lime;
    margin-top: 50px;
    margin-left: 20px;    
    max-width: 200px;
    z-index: 1;
}

